.DS_Store
*/.DS_Store
.gradle/
.idea/
build/
logs/
key.store
vrfKeyStore.yml
deviation.yml
flux_deviation.yml
tvm-contracts/v0.6/

node/HELP.md
node/.gradle
node/build/
node/logs/
node/src/main/resources/static
node/src/main/resources/key.store
node/src/main/resources/vrfKeyStore.yml
!node/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
node/.idea
node/*.iws
node/*.iml
node/*.ipr
node/out/
!**/src/main/**/out/
!**/src/test/**/out/

*.log
.direnv/
