<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tron.web.mapper.DemoMapper">

	<insert id="create">
		insert into demo
		(
		`key`,
		`value`
		)
		values
		(
		#{key},
		#{value}
		)
	</insert>

	<select id="queryByKey" parameterType="java.lang.String" resultType="com.tron.web.entity.Demo">
		select id, `key`, `value`, create_time, update_time
		from demo
		where `key` = #{key}
		order by create_time desc
	</select>

</mapper>
