.container {
  margin: auto 30px;
  padding-left: 30px;
  padding-right: 30px;
}

a:link {
  text-decoration: none !important;
}

.ant-page-header-ghost {
  padding-left: 0px !important;
}

.ant-card-extra {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.wink-btn-success {
  color: #87d068 !important;
  &:hover {
    color:white !important;
    background: #87d068 !important;
  }
}
.wink-btn-primary {
  color: #2db7f5 !important;
  &:hover {
    color:white !important;
    background: #2db7f5 !important;
  }
}
.ant-table-column-title {
  white-space: pre-line !important;
}



