.container {
  margin: auto 30px;
  padding-left: 30px;
  padding-right: 30px;
}

a:link {
  text-decoration: none !important;
}

.ant-page-header-ghost {
  padding-left: 0px !important;
}

.ant-card-extra {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

